    <!--navbar!-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">LoLWiki.GG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/personajes">Personajes</a>
        </li>   
      </ul>
    </div>
        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/register">Regístrate!</a>
        </li>   
      </ul>
    <div>
      <form class="form-inline my-2 my-lg-0" style="display:flex">
      <input class="form-control mr-sm-2" type="search" placeholder="Busca personajes" aria-label="Search" id="texto_buscador">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="buscador">Buscar!</button>
      </form>
  </div>
</nav>
<!--navbar-->
    