.card{
    
    align-content: center;
}
#contenedor_arcane{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#contenedor_arcane > div{
    margin: 20px;
}
#video{
    display: flex;
    justify-content: center;
}
#titulo_video{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: center;
}
#mas{
    position: relative;
    width: 10%;
    margin: auto;
    display: inline-block;
}
 #arcane_boton{
    display: inline-block;
    border-radius: 4px;
    background-color: #FA4C4D;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    margin-bottom: 10px;
  }

#pjs{
    max-width: 40rem;
    margin:auto;
    padding: 20px;
    text-align: center;
}
body{
    background-image: url("../media/lolfondo.webp");
    background-size:auto;
}
footer{
    width: 100%;
    bottom:auto;
    position: absolute;
}
#img{
    display: center;
}

