{% extends 'base.html.twig' %}

{% block title %}Hello RegionesController!{% endblock %}

{% block body %}
{{include ("/partials/navbar.html.twig")}}

<h1>Región : {{region.nombre}}</h1>

{{include ("/partials/footer.html.twig")}}

{% endblock %}
