{% extends 'base.html.twig' %}

{% block title %}Inicio!{% endblock %}

{% block body %}

<!--regiones-->
{% for personaje in personajes %}
<div style = " flex-direction:row;">
<div class="card">
  <img src="{{personaje.imagen}}" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title">{{personaje.nombre}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<!--regiones-->
{% endfor %}

{{include ("/partials/footer.html.twig")}}
{% endblock %}
