{% extends 'base.html.twig' %}

{% block title %}Personajes!{% endblock %}

{% block body %}
{{include ("/partials/navbar.html.twig")}}

<!--personajes-->

{% for personaje in personajes %}
{{include ("/partials/ficha_personaje.html.twig")}}
<!--personajes-->
{% endfor %}

<!--acordeon info-->
<div id="accordion">
 <h3>Adivina el personaje!</h3>
 <div>
   <p>
   Como ya te habrás dado cuenta, este mini juego trata de adivinar el personaje, voy a darte 3 pistas,
   cada una más obvia que la anterior, a ver cuanto tardas en adivinar de que campeón estamos hablando
   </p>
 </div>
 <h3>Pista 1</h3>
 <div>
   <p>
   Su daño es AD
   </p>
 </div>
 <h3>Pista 2</h3>
 <div>
   <p>
  Utiliza una de estas armas afiladas :
   </p>
   <ul>
     <li>Espada</li>
     <li>Cuchillas</li>
     <li>Pistola</li>
   </ul>
 </div>
 <h3>Pista 3</h3>
 <div>
   <p>
   Es de la región justiciera, Demacia!
   </p>
  
 </div>
</div>
<!--acordeon info-->

<!-- imagen_oculta -->
<h1 id="adivinado">¿Ya lo has adivinado? Revela el personaje..!</h1>
  <div id="botones">
    <button id="show">Mostrar Imagen</button>
    <button id="hide">Ocultar Imagen</button>
  </div>
  <div class="image-garen-flex">
    <img src="/media/garen.jpg" id="garen">
  </div>
<!-- imagen_oculta -->

{{include ("/partials/footer.html.twig")}}
{% endblock %}
